*{
    padding:0px;
    margin:0px;
    overflow-x: hidden;
}
.form-container{
    height: auto;
    margin-top:30px;
    width:100%;
    display: flex;
    justify-content: center;
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    border:1px solid rgb(149, 144, 144);
}
.heading{
    height:60px;
    font-size: 40px;
    color: white;
    width: 100%;
    background-image: linear-gradient(to right,blue,violet);
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width:350px;
    font-size: 20px;
    border:1px solid black;
    border-radius: 50px;
    padding:10px;
}
select{
    width:370px;
    padding:10px;
    font-size: 20px;
    background-image: linear-gradient(rgb(198, 193, 193),white);
    border:1px solid black;
    border-radius: 10px;
}
#book-btn{
    width: 300px;
    font-size: 20px;
    padding:15px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    border-radius: 40px;
}
.row{
    padding-left: 70px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap:20px;
}
.table-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(237, 233, 233);
}
table{
    margin-top:20px;
    background-color: rgb(237, 233, 233);
    border-collapse: collapse;
    border-spacing: 0;
}
tr{
    font-size: 25px;
    margin:10px;
    background-color: white;
    border-top:5px solid rgb(237, 233, 233);
    border-bottom: 5px solid rgb(237, 233, 233);
}
td{
    text-align: start;
    padding:0px 30px 0px 30px;
}
th{
    padding:10px;
    text-align: center;
    background-color: rgb(237, 233, 233);
}
thead{
    
    font-size: 18px;
}
.profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("./assets/profile.png");
    background-size: cover;
}
.status{
    width: 150px;
}
.status-btn{
    padding:5px 10px 5px 10px;
    font-size: 23px;
    border:0px;
    border-radius: 10px;
}
.info{
    display: flex;
    gap:10px;
    align-items: center;
}
.bottom-text{
    font-size: 20px;
}
.more{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toast-message{
    text-align: center;
    margin-bottom: 20px;
    color: red;
    font-size: 25px;
}
.hidden{
    display: none;
}
.edit-btn{
    background-color: blue;
    color: white;
    padding:5px 10px 5px 10px ;
    margin-bottom: 5px;
}
.delete-btn{
    background-color: red;
    color: white;
    padding:5px 10px 5px 10px ;
}
#update{
    width: 300px;
    font-size: 20px;
    padding:15px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    border-radius: 40px;
}